.root {
  height: 30vh;
  width: 90%;
  display: flex;
  margin: 20px auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: white;
  border: 5px solid black;
}

@media screen and (min-width: 960px) {
  .root {
    margin: 30px auto;
    max-width: 585px;
  }
}
