.root {
  font-size: 18px;
  border-radius: 4px;
  padding: 17px 13px;
  background-color: #006cfc;
  color: #d8fcfc;
  width: 90vw;
  border: 10px solid #001997;
  animation: lower 0.4s ease;
}
@media screen and (min-width: 960px) {
  .root {
    max-width: 600px;
    margin: 0 auto;
  }
}
@keyframes lower {
  0% {
    transform: translateY(100%);
  }
  75% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(0%);
  }
}
